<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.damned">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"

        android:theme="@style/Theme.AppCompat.NoActionBar"> <!--modificada-->

        <activity android:name=".Activity_muerte"></activity>
        <activity android:name=".Activity_3_botones" />
        <activity android:name=".Activity_2_botones" />
        <activity android:name=".Activity_1_boton" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
    <!--Se cambia el tag android:theme que está debajo de este párrafo
    por la que aparece arriba en su bloque. Así se elimina la action bar
    y se trabaja en pantalla completa-->
    <!--android:theme="@style/Theme.DAMNED"-->